.container { background-color: rgb(212, 151, 94); } 

.jumbotron { background-color: rgb(212, 151, 94);
             color: #183855;
             font-family: "Lucida Console", "Courier New", monospace; } 

body { background-color: #4d7ba5; }



